<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.wly.pro.blog.dao.BlogCategoryMapper">
	
	<select id="listForPage" resultType="BlogCategoryEntity">
		SELECT
			`id`, 
			`categoryName`, 
			`iconClass`, 
			`aliasName`, 
			`sort`
		FROM
			blog_category
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO blog_category (
			`categoryName`, 
			`iconClass`, 
			`aliasName`, 
			`sort`
		)
		VALUES (
			#{categoryname}, 
			#{iconclass}, 
			#{aliasname}, 
			#{sort}
		)
	</insert>
	
	<select id="getObjectById" resultType="BlogCategoryEntity">
		SELECT
			`id`, 
			`categoryName`, 
			`iconClass`, 
			`aliasName`, 
			`sort`
		FROM
			blog_category
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE blog_category
	 	<set>
			<if test="categoryname != null">`categoryName` = #{categoryname}, </if>
			<if test="iconclass != null">`iconClass` = #{iconclass}, </if>
			<if test="aliasname != null">`aliasName` = #{aliasname}, </if>
			<if test="sort != null">`sort` = #{sort}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			blog_category
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
<!-- 	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->

</mapper>